* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ---- input field css----- */

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ---- width related css ---- */
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

/* ---- margin related css ---- */
.m-auto {
    margin: 0 auto;
}

.mt-5 {
    margin-top: 30px;
}

/* ---- border radius related css --- */

.border-sm {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.border-lg {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.border-xl {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.border-round{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ---- background colors ---- */

.bg-slate-500 {
    background: #94a3b8;
}

.bg-slate-900 {
    background: rgb(148 163 184);
}

/* ---- border color ---- */

.border-slate-400 {
    border: 1px solid #94a3b8;
}

.border-slate-900 {
    border: 1px solid rgb(15 23 42);
}

/* ---- text colors ---- */
.text-slate-400 {
    color: #94a3b8;
}

.text-slate-900 {
    color: rgb(15 23 42);
}

/* ---- height related css ---- */

.h-100 {
    height: 100%;
}

.h-full {
    height: 100vh;
}

.mh-200 {
    min-height: 200px;
}

/* ---- padding related css ---- */

.p-2{
    padding: 10px 10px;
}

.p-1{
    padding: 5px;
}

/* ---- font size css ---- */

.fs-5{
    font-size: 20px;
}

