* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ---- input field css----- */

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ---- width related css ---- */
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

/* ---- margin related css ---- */
.m-auto {
    margin: 0 auto;
}

.mt-5 {
    margin-top: 30px;
}